.navigation {
  color: #e9c8c1;
  transition: 1s;
}

.socials {
  margin-right: 80px;
}

.navi {
  position: relative;
  margin-bottom: 100px;
}

.social {
  margin-right: 10px;
  width: 32px;
  float: right;
}

.logo-size {
  width: 200px;
}

.navigation-choosen {
  cursor: pointer;
  background-color: #e9c8c1;
  color: white;
}

.navigation:hover {
  cursor: pointer;
  background-color: #e9c8c1;
  color: white;
}

.navigation-active {
  cursor: pointer;
  color: #e9c8c1;
}

.navigation-line {
  border: 1px solid #e9c8c1;
  border-radius: 5px;
}
